@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #f5f5f5; 
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.title-logo h1{
  font-family: 'Playpen Sans', cursive;
  color: black;
  position: absolute;
  top: 1px;
  left: 42%;
}

.title-logo img{
  position: absolute;
  height: 50px;
  top: 15px;
  left: 38%;
}
